<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>День недели</title>
</head>
<body>
  <h1>Добро пожаловать в приложение «Список дел»</h1>
  <h2>Воскресенье</h2>
  <p>Идем в ТЦ</p>
  <h2>Понедельник</h2>
  <p>Первый день на работе после праздников</p>
  <h2>Вторник</h2>
  <p>Второй день на работе после праздников</p>
  <h2>Среда</h2>
  <p>Третий день на работе после праздников</p>
  <h2>Четверг</h2>
  <p>Четвертый день на работе после праздников</p>
  <h2>Пятница</h2>
  <p>Пятый день на работе после праздников</p>
  <h2>Суббота</h2>
  <p>Отдыхаю дома после работы</p>
</body>
</html>